

 <!-- Start: Preloader Section
        =================================== -->
        <div id="main-preloader" class="main-preloader semi-dark-background">
            <div class="container full-height">
                <div class="row full-height">
                    <div class="full-height col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

                        <div class="main-preloader-inner">

                            <h1 class="preloader-percentage">
                                <span class="preloader-percentage-text">0%</span> 
                            </h1>
                            <div class="preloader-bar-outer">
                                <div class="preloader-bar"></div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

