/**
 * ================================
 * Nav Defult Style
 * ================================
 */
.nav {
  display: inline-block;
}
.nav li a {
  padding: 0px;
  background-color: transparent;
      font-size: 11px;
}
.nav li a:hover {
  background-color: black;
  border-radius: 100%;
}
.fix {
  overflow: hidden;
}
.section-video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}
.section-video .bgvid {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.body-video-bg > .section-video {
  position: fixed;
  top: 0;
  left: 0;
}
p {
  color: #9c9c9c;
  font-size: 14px;
  margin-bottom: 27px;
  font-weight: 400;
}
a.btn-nav{
  margin: 0 4px;
}
@media (min-width: 320) and (max-width: 574px) {
  .navbar-header a {
        margin-right: 0;
  }
}