

        <!-- Start: Navbar  Area
        ============================= -->
        <nav class="navbar navbar-fixed-top main-navbar-top navbar-top-js" id="main-navbar-top" style="position: fixed; z-index: 999999;background-color: #ff003c; height: 50px;margin-top: 35px;border-radius: 19px;margin-left: -57px;opacity: 0.85;">
            <div class="container" style="padding-left: 7px;padding-right: 0;">
                <div class="navbar-header">
                    <a class="navbar-brand light-logo btn-scroll" href="#home-section" style="margin-right: 0;">
                        <img src="assets/images/logo.png" alt="" class="img-responsive"></a>
                </div>
                <div class="navbar-collapse-right hidden-xs " >
                    <ul class="nav navbar-nav navbar-right btn-scroll" id="ul-sections">
                        <li>
                        <a class="btn-nav" href="#main-services">Servicios</a>
                        <a class="btn-nav" href="#main-portafolio">Proyectos</a>
                        <a class="btn-nav" href="#main-table">Paquetes</a>
                        <a class="btn-nav" href="#main-contactos">Contactos</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
