                 <div class="container contact-footer">
                      <div class="row">
                          <div class="other-link col-sm-11">
                              <div class="row">
                                  
                                  <div class="each-section col-md-6 col-xs-12" style="text-align: center">
                                      <div class="each-section-inner">
                                          
                                          <div class="overflow">
                                              <p class="title wow">Oficina principal</p>
                                          </div>
                                          <ul class="nav">
                                              <li class="overflow">
                                                  <div class="li-inner wow">
                                                      Av. Benavides 465
                                                  </div>
                                              </li>
                                              <li class="overflow">
                                                  <div class="li-inner wow">
                                                      Santiago de Surco
                                                  </div>
                                              </li>
                                              <li class="overflow">
                                                  <div class="li-inner wow">
                                                      <a href="callto:9167532645" class="btn-mask">916 753 2645</a>
                                                  </div>
                                              </li>
                                          </ul>

                                      </div>
                                  </div> <!-- End: .each-section -->
                                  
                                  <div class="each-section col-md-6 col-xs-12" style="text-align: center">
                                      <div class="each-section-inner">
                                          
                                          <div class="overflow">
                                              <p class="title wow">Contáctanos</p>
                                          </div>
                                          <ul class="nav">
                                              <li class="overflow">
                                                  <div class="li-inner wow">
                                                      <a href="mailto:jobs@templateocean.com" class="btn-mask">contactos@yunta.com.pe</a>
                                                  </div>
                                              </li>
                                              <li class="overflow">
                                                  <div class="li-inner wow">
                                                      <ul class="nav social-icon">
                                                          <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                                                          <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                                                          <li><a href="#"><i class="icon icon-social-pinterest"></i></a></li>
                                                          <li><a href="#"><i class="icon icon-social-instagram"></i></a></li>
                                                      </ul>
                                                  </div>
                                              </li>
                                          </ul>
                                      
                                      </div>
                                  </div> <!-- End: .each-section -->

                              </div>
                          </div> <!-- End: .other-link -->

                      </div> <!-- End: .row -->
                  </div> <!-- End: .contact-footer -->