.footer-parrafo{
/*	    text-align: left;*/
    padding-bottom: 20px;
    color: #00ffff;
    padding-top: 15px;
}
.footer-parrafo h4{
	font-size: 16px;

}
.footer-parrafo img{
	width: auto;
    height: 24px;
}
.sub-p{
	width: 234px;
	    margin: auto;
}