<preloader></preloader>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="buttonModal">
    Informate
</button>
<menu style="margin: 0;"></menu>

        <div class="section section-item home-section overflow hide-overlay overlay-color bg-image-1 wow" id="home-section">
            <div class="inner " style="padding-top: 120px !important;padding-bottom: 140px !important;">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" style="margin: auto;padding: 30px;">
                             <img src="assets/images/frase.png" class="img-responsive" style="width: 100%;" />
                             <h1 style="text-align: center;">Tu plataforma al <span>{{exito}}</span></h1>

                        </div>
                        

                        <div class="footer-button" style="position: absolute;bottom: 0;">
                                <div class="btn-form-outer btn-scroll">  <!-- Button Area -->
                                    <a href="#services-section" class="btn">
                                        <i class="icon" style="color: transparent;">
                                            <i class="material-icons" style="z-index:999999;font-size: 30px;transform: rotate(45deg);color:#ffff00;margin-top: 23px;margin-left: -66px;"><img src="assets/images/triangulo.png" style="height: 36px;transform: rotate(75deg);"></i>
                                        
                                    </i></a>
                                </div>
                        </div>
                      
                    </div>
                </div>
            </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Contactos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                            <form #formContact="ngForm" (ngSubmit)="sendEmail(formContact)">
                                <div class="form-input">
                                    <label>Nombre y apellidos</label>
                                    <input name="name" type="text" id="form-name" class="form-control" ngModel>
                                </div>
                                <div class="form-input">
                                    <label>Email</label>
                                    <input name="email" type="mail" id="form-name" class="form-control" ngModel>
                                </div>
                                <div class="form-input">
                                    <label>Teléfono</label>
                                    <input name="telefono" type="tel" id="form-name" class="form-control" ngModel>
                                </div>
                                <div class="form-input">
                                    <label>Mensaje</label>
                                    <input name="mensaje" type="textarea" id="form-name" class="form-control" ngModel>
                                </div>
                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
                                <button type="button" class="btn btn-primary" (click)="sendEmail(formContact)">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

<our-services id="main-services"></our-services>

<portafolio  id="main-portafolio"></portafolio>

<table id="main-table" style="margin: auto"></table>
      


     <footer id="main-contactos"></footer>