<preloader></preloader>
<menu style="margin: 0;"></menu>

        <div class="section section-item home-section overflow hide-overlay overlay-color bg-image-1 wow" id="home-section">
            <div class="inner " style="padding-top: 120px !important;padding-bottom: 140px !important;">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" style="margin: auto;padding: 30px;">
                             <img src="assets/images/frase.png" class="img-responsive" style="width: 100%;" />
                             <h1 style="text-align: center;">Tu plataforma al <span>{{exito}}</span></h1>

                        </div>
                        

                        <div class="footer-button" style="position: absolute;bottom: 0;">
                                <div class="btn-form-outer btn-scroll">  <!-- Button Area -->
                                    <a href="#services-section" class="btn">
                                        <i class="icon" style="color: transparent;">
                                            <i class="material-icons" style="z-index:999999;font-size: 30px;transform: rotate(45deg);color:#ffff00;margin-top: 23px;margin-left: -66px;"><img src="assets/images/triangulo.png" style="height: 36px;transform: rotate(75deg);"></i>
                                        
                                    </i></a>
                                </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>

<our-services id="main-services"></our-services>

<portafolio  id="main-portafolio"></portafolio>

<table id="main-table" style="margin: auto"></table>
      


     <footer id="main-contactos"></footer>