<div class="container" id="testimonial-section">
	<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 main-card" style="margin-bottom: 25px;">
				<div class="card cardInfo">
				  <img class="card-img-top" src="assets/images/seo-face.png" alt="Card image cap">
				  <div class="card-block">
				    <h4 class="card-title">Medios digitales</h4>
				    <p class="card-text">Potencia tu negocio en Facebook u otras redes sociales</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Te ayudamos a conectarte con esos <b>&nbsp;&nbsp;potenciales clientes</b></li>
				    <li class="list-group-item">Optimiza tus motores de búsqueda en <b>&nbsp;&nbsp;Google</b> y en otros buscadores</li>
				    <li class="list-group-item">Puedes saber que <b>&nbsp;&nbsp;opinan</b> los usuarios de tu empresa</li>
				    <li class="list-group-item">Tu negocio en una <b>&nbsp;&nbsp;plataforma</b> en constante crecimiento, como <b> tú</b></li>
				    <li class="list-group-item"><b>Gestión integral</b> para la actualización de tu contenido bajo una estrategia pre planificada</li>
				    	<li class="list-group-item">Seguimiento y soporte garantizado <b> las 24/7 horas del día</b></li>
				  </ul>
			<!-- 	  <div class="card-block">
				    <a href="#" class="card-link">Card link</a>
				    <a href="#" class="card-link">Another link</a>
				  </div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 main-card" style="margin-bottom: 25px;">
				<div class="card cardInfo">
				  <img class="card-img-top" src="assets/images/web.jpg" alt="Card image cap">
				  <div class="card-block">
				    <h4 class="card-title">Desarrollo web</h4>
				    <p class="card-text">Obten un sitio web acorde a tu imagen y necesidades de tus clientes</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Flexibilidad</b> con un gestor de contenidos útil y sencillo</li>
				    <li class="list-group-item"><b>Plataformas modernas y elegantes</b> perzonalidada para tu negocio</li>
				    <li class="list-group-item"><b>Interactividad y sencillez</b> para tus clientes</li>
				    <li class="list-group-item"><b>Diversos paquetes</b> al alcance de tu bolsillo</li>
				    <li class="list-group-item"><b>Contenido Responsive Design</b> para que cada contenido sea diferente y adecuado para cada dispositivo, ya sea el móvil, Tablet o pc.</li>
				    <li class="list-group-item"><b>Correo coporativos</b> para comunicarte mejor entre tus trabajadores y tus clientes. Además afianza la seriedad en tu <b>negocio</b></li>
				    <li class="list-group-item"><b>SEO</b>optimizamos los motores de búsqueda para que aparezcan entre los primeros resultados</li>
				    <li class="list-group-item"><b>Reportes</b>entregamos mensualmente reportes donde podrás ver las estadísticas de las personas que acceden a la página y el número de conversiones. Incluso, puedes integrar con Google Analytics. </li>
				  </ul>
				  <!-- <div class="card-block">
				    <a href="#" class="card-link">Card link</a>
				    <a href="#" class="card-link">Another link</a>
				  </div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 main-card" style="margin-bottom: 25px;">
				<div class="card cardInfo">
				  <img class="card-img-top" src="assets/images/video.jpg" alt="Card image cap">
				  <div class="card-block">
				    <h4 class="card-title">Videos online</h4>
				    <p class="card-text">¡Posiciona tu negocio con los medios audiovisuales!</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Presenta tu negocio</b> productos y/o servicios, ofertas y más con un video.</li>
				    <li class="list-group-item"><b>Un video</b> es una introducción perfecta de quién eres y que ofreces</li>
				    <li class="list-group-item"><b>Amplía tus oportunidades</b> de llegada, debido al gran incremento del consumo audiovisual</li>
				    <li class="list-group-item"><b>Captarás e impactarás</b> más a tus clientes a diferencia de un volante informativo</li>
				    <li class="list-group-item"><b>Diferenciate </b>&nbsp;de tu competencia compenetrando a tu público objetivo</li>
				    <li class="list-group-item"><b>Ganará presencia</b>&nbsp; en las redes a través del YouTube.</li>
				  </ul>
				</div>
			</div>
	</div>
</div>

